
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application State</title>
</head>
<body>
    Counter = @Model <br />
    <a asp-action="increase">Increase</a> | <a asp-action="decrease">Decrease</a> 
</body>
</html>
