
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a asp-controller="sample">Хранение состояния в поле класса (проблема)</a></li>
        <li><a asp-controller="catalog">Адресная строка</a></li>
        <li><a asp-controller="cookiessample">Cookies</a></li>
        <li><a asp-controller="sessionsample">Session</a></li>
        <li><a asp-controller="tempdatasample">TempData</a></li>
        <li><a asp-controller="application">Application</a></li>
        <li><a asp-controller="cache">Cache</a></li>
    </ul>
</body>
</html>
